<!DOCTYPE html>
<html lang="vi-VN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--icon-->
    <link href="./assets/ico/favicon.ico" rel="icon">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--fa icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--vendor css file-->
    <link href="./assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!--main css-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Khóa học-Edu Web</title>
</head>

<body>

    <!-- =====================Header============================ -->
    <header id="header" class="d-flex align-items-center">
        <div class="container-md d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="index.html">EduWeb</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

            <h2 class="d-none d-md-flex title text-uppercase">Khóa học</h2>

            <div class="register-login d-flex align-items-center">
                <a href="register.html" class="register p-2 border rounded me-1">Đăng Ký</a>
                <a href="login.html" class="login p-2 border rounded">Đăng Nhập</a>
            </div>
        </div>
    </header>

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Tất cả khóa học</h2>
                <ol>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li>Khóa học</li>
                </ol>
            </div>
        </div>
    </section>

    <!--=========Course-Head==============-->
    <section class="course-head">
        <div class="container d-flex flex-column justify-content-center align-items-center pt-5">
            <h4 class="text-white text-center">Học trực tuyến tại bất cứ đâu. Hãy bắt đầu ngay với một khóa học.</h4>
            <div class="col-lg-5 col-md-7 col-sm-9">
                <form class="searchbox" action="">
                    <input type="search" placeholder="Tìm kiếm khóa học" />
                    <ul class="suggestions">
                        <li><a href="#course-math">Môn Toán</a></li>
                        <li><a href="#course-physics">Môn Vật Lý</a></li>
                        <li><a href="#course-chemistry">Môn Hóa Học</a></li>
                        <li><a href="#course-biology">Môn Sinh Học</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </section>

    <!--=========Course-math section=============-->
    <section id="course-math" class="course py-5 px-sm-0 px-md-5 section-bg">
        <div class="container-md" data-aos="fade-up">
            <div class="section-title text-center ">
                <h2>Toán</h2>
                <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, porro.</p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="course-math-filters" class="course-filters">
                        <li data-filter="*" class="filter-active">Tất Cả</li>
                        <li data-filter=".filter-video">Khóa Video</li>
                        <li data-filter=".filter-live">Khóa Live</li>
                    </ul>
                </div>
            </div>

            <div class="course-math-container row align-items-center justify-content-start g-4" data-aos="fade-up" data-aos-delay="200">
                <!--item 1-->
                <div class="col-lg-3 col-md-6 course-item filter-live">
                    <div class="card">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="live-course-detail.html" class="btn btn-primary course-name course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 2-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="live-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 3-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="./video-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 4-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="video-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 5-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="video-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 6-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="video-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 7-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="live-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 8-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="live-course-detail.html" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=========Course-physics section=============-->
    <section id="course-physics" class="course py-5 px-sm-0 px-md-5">
        <div class="container-md" data-aos="fade-up">
            <div class="section-title text-center ">
                <h2>Vật Lý</h2>
                <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, porro.</p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="course-physics-filters" class="course-filters">
                        <li data-filter="*" class="filter-active">Tất Cả</li>
                        <li data-filter=".filter-video">Khóa Video</li>
                        <li data-filter=".filter-live">Khóa Live</li>
                    </ul>
                </div>
            </div>

            <div class="course-container course-physics-container row align-items-center justify-content-start g-4" data-aos="fade-up" data-aos-delay="200">
                <!--item 1-->
                <div class="col-lg-3 col-md-6 course-item filter-live">
                    <div class="card">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="#" class="btn btn-primary course-name course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 2-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 3-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 4-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 5-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 6-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 7-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 8-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="#" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=========Course-chemistry section=============-->
    <section id="course-chemistry" class="course py-5 px-sm-0 px-md-5 section-bg">
        <div class="container-md" data-aos="fade-up">
            <div class="section-title text-center ">
                <h2>Hóa Học</h2>
                <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, porro.</p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="course-chemistry-filters" class="course-filters">
                        <li data-filter="*" class="filter-active">Tất Cả</li>
                        <li data-filter=".filter-video">Khóa Video</li>
                        <li data-filter=".filter-live">Khóa Live</li>
                    </ul>
                </div>
            </div>

            <div class="course-chemistry-container row align-items-center justify-content-start g-4" data-aos="fade-up" data-aos-delay="200">
                <!--item 1-->
                <div class="col-lg-3 col-md-6 course-item filter-live">
                    <div class="card">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="#" class="btn btn-primary course-name course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 2-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 3-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 4-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 5-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 6-->
                <div class="col-lg-3 col-md-6 course-item filter-video ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                            <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                            <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 7-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 8-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative ">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="#" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=========Course-biology section=============-->
    <section id="course-biology" class="course py-5 px-sm-0 px-md-5">
        <div class="container-md" data-aos="fade-up">
            <div class="section-title text-center ">
                <h2>Sinh Học</h2>
                <p class="mb-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, porro.</p>
            </div>
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="course-biology-filters" class="course-filters">
                        <li data-filter="*" class="filter-active">Tất Cả</li>
                        <li data-filter=".filter-video">Khóa Video</li>
                        <li data-filter=".filter-live">Khóa Live</li>
                    </ul>
                </div>
            </div>

            <div class="course-biology-container row align-items-center justify-content-start g-4" data-aos="fade-up" data-aos-delay="200">
                <!--item 1-->
                <div class="col-lg-3 col-md-6 course-item filter-live">
                    <div class="card">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                        </div>
                        <div class="d-none course-detail justify-content-center">
                            <a href="#" class="btn btn-primary course-name course-detail-link">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>
                <!--item 2-->
                <div class="col-lg-3 col-md-6 course-item filter-live ">
                    <div class="card position-relative">
                        <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                            <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                            <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                            <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 3-->
                    <div class="col-lg-3 col-md-6 course-item filter-video ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name course-name">Pen C Vật Lý</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                                <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                                <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 4-->
                    <div class="col-lg-3 col-md-6 course-item filter-video ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                                <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                                <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 5-->
                    <div class="col-lg-3 col-md-6 course-item filter-video ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                                <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                                <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 6-->
                    <div class="col-lg-3 col-md-6 course-item filter-video ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/pen-c-vat-li-1579707989.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name">Pen C Vật Lý</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Đỗ Ngọc Hà</a></h6>
                                <p class="card-text course-number-video "><i class="bi bi-collection-play "></i> Số bài giảng: <span>115</span></p>
                                <p class="card-text course-hour "><i class="bi bi-clock "></i>Thời lượng: <span>80</span> giờ</p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 7-->
                    <div class="col-lg-3 col-md-6 course-item filter-live ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                                <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                                <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="# " class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                    <!--item 8-->
                    <div class="col-lg-3 col-md-6 course-item filter-live ">
                        <div class="card position-relative ">
                            <img src="./assets/img/course/hoc-tot-toan-11-thay-nguyen-phu-hoang-lan-1618885370.png " class="card-img-top " alt="... ">
                            <div class="card-body ">
                                <h5 class="card-title text-center course-name">Live F Toán 11</h5>
                                <h6 class="card-subtitle text-center my-3 text-muted course-lecturer ">Giảng Viên: <a href="#" class="course-lecturer-name">Thầy Trần Đức Chung</a></h6>
                                <p class="card-text course-begin-date "><i class="bi bi-calendar2-week"></i></i> Số tuần học: <span>10</span></p>
                                <p class="card-text course-end-date "><i class="bi bi-people"></i> Số lớp học: <span>3</span></p>
                            </div>
                            <div class="d-none course-detail justify-content-center">
                                <a href="#" class="btn btn-primary course-detail-link">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top section-bg mt-5">
            <div class="container ">
                <div class="row ">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Edu Web</h3>
                        <p>
                            151 đường Nguyễn Thị Minh Khai <br> Phường 5, Quận 1<br> Thành Phố Hồ Chí Minh <br><br>
                            <strong>Số điện thoại:</strong> 012345789<br>
                            <strong>Email:</strong> infoEduWeb@EduWeb.edu.vn<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Liên Kết</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="./index.html">Trang chủ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="./course.html">Khóa Học</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Giảng Viên</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Về Edu Web</a></li>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Khóa học tiêu biểu</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Luyện thi Đại Học Toán</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Vật Lý vip pro, 9+ trong tầm tay</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Tổng Ôn Sinh Học 12</a></li>
                            <li><i class="bx bx-chevron-righ"></i> <a href="#">Bí kíp giải nhanh Hóa Hữu Cơ</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Khóa live ôn tập Vật Lý 8+</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Newsleter</h4>
                        <p>Nhập vào email để nhận những thông báo và tin tức mới nhất từ chúng tôi</p>
                        <form action=" " method="post ">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Edu Web</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="# " class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="# " class="facebook"><i class="bx bxl-facebook "></i></a>
                <a href="# " class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="# " class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="# " class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer>


    <!--Preload and back to top button-->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!--Vendor js file-->
    <script src="./assets/vendor/aos/aos.js "></script>
    <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="./assets/vendor/glightbox/js/glightbox.min.js "></script>
    <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js "></script>
    <script src="./assets/vendor/php-email-form/validate.js "></script>
    <script src="./assets/vendor/purecounter/purecounter.js "></script>
    <script src="./assets/vendor/swiper/swiper-bundle.min.js "></script>
    <script src="./assets/vendor/waypoints/noframework.waypoints.js "></script>
    <!--main script-->
    <script src="./assets/js/main.js "></script>
</body>

</html>